
.persistent/

.vscode/

blueprints/

crash-reports/

fancymenu_data/

journeymap/

local/

logs/

modernfix/

mods/

resources/

saves/

shaderpacks/

.curseclient

imgui.ini

patchouli_data.json

rhino.local.properties

minecraftinstance.json

usernamecache.json
