
.persistent/

.vscode/

blueprints/

crash-reports/
defaultconfigs/

fancymenu_data/

journeymap/

local/

logs/

modernfix/

mods/
natives/

resources/

saves/

shaderpacks/

.curseclient

imgui.ini

patchouli_data.json

rhino.local.properties

minecraftinstance.json

usernamecache.json

options.txt

servers.dat

usercache.json

manifest.json

config.json
